@font-face {
  font-family: "HelveticaNeue";
  src: url("./HelveticaNeue-Thin.otf");
}

body {
  font-family: "HelveticaNeue", sans-serif; 
  font-weight: 300;
}

body {
  margin: 0;
  overflow: hidden;
}

.App {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.weather-app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-card__hourly {
  display: flex;
  position: relative;
  color: white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12156862745098039);;
  padding: 13px 0;
  margin: 0;
  border-top: 1.2px solid rgba(255, 255, 255, 0.12156862745098039);
}

.main-card__daily {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 20px;
  /* margin-top: 20px; */
  padding-top: 0px;
  max-width: 1340px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.12156862745098039);
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media(max-width: 700px) {
  .hour-card {
      font-size: 2em;
      min-width: 100px;
  }
}