.day-card {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    font-size: 2em;
    margin: 6px 10px;
}

.day-card__day {
    flex: 1 1;
    max-width: 90px;
    min-width: 110px;
}

.day-card i {
    margin: 0 50px;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.day-card div {
    width: 90px;
    min-width: 40px;
    /* text-align: center; */
    display: flex;
}

.day-card div span {
    flex: 1;
    text-align: center;
}

.day-card div .day-card__min-temp {
    opacity: 0.5;
}

@media(max-width: 400px) {
    .day-card {
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        font-size: 18px;
        margin: 6px 10px;
    }
}