

.hour-card {
    display: flex;
    /* height: 240px; */
    flex: 1 1;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.7em;
    transition: all 200ms ease;
}

.hour-card:hover {
    color: goldenrod;
}

.hour-card span {
    margin: 15px 0;
}

@media(max-width: 400px) {
    .hour-card {
 
    }
    
    .hour-card {
        display: flex;
        height: 240px;
        flex: 1;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.2em;
        min-width: 70px;
    }
}