

.hour-card {
    display: flex;
    /* height: 240px; */
    flex: 1 1;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.7em;
    transition: all 200ms ease;
}

.hour-card:hover {
    color: goldenrod;
}

.hour-card .hour-card__time {

}

.hour-card .hour-card__temperature {
    font-size: 22px;
}


.hour-card .hour-card__weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hour-card .hour-card__probability {
    color: #68b5d9;
    font-weight: 600;
    font-size: 15px;
    position: relative;
}

@media(max-width: 400px) {
    .hour-card {
 
    }
    
    .hour-card {
        display: flex;
        height: 110px;
        flex: 1;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.2em;
        min-width: 70px;
    }
}