
.hour-card {
    display: flex;
    height: 110px;
    flex: 1 1;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2em;
    min-width: 70px;
    transition: all 200ms ease;
}

.hour-card:hover {
    color: goldenrod;
}

.hour-card .hour-card__time {
    flex: 1 1;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 600;
}

.hour-card .hour-card__temperature {
    font-size: 19px;
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: center;
}


.hour-card .hour-card__weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.hour-card .hour-card__probability {
    color: #68b5d9;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    display: none;
}

    
  