.main-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
    flex: 1 1;
    /* min-height: 340px; */
    min-height: 360px;
}

.main-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.main-card__status {
    color: white;
    /* margin-bottom: 10px; */
    font-size: 17px;
}

.main-card__temperature {
    color: white;
    font-size: 121px;
}

.main-card__city {
    color: white;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.main-card form {
    margin-top: 20px;
    margin-bottom: 20px;
}



.main-card__city-form {
    /* display: flex; */
    /* font-size: 32px; */
    /* display: flex; */
}

.main-card__city-query {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
    text-align: left;
    background: transparent;
    color: white;
}

.main-card__search {
    background: white;
    border: none;   
    color: black;
    border: 1px solid white;
    transition: all 200ms ease;
    cursor: pointer;
}

.main-card__search:hover {
    background: lightgray;
    border-color: lightgray; 
}

