.main-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
    flex: 1;
}

.main-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.main-card__status {
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
}

.main-card__temperature {
    color: white;
    font-size: 110px;
}

.main-card__city {
    color: white;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}